[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
xkcd = "~=2.4"
dice = "~=2.4"
discord = "~=0.16"
feedparser = "~=5.2"

[requires]
python_version = "3.6"
